<launch>
    <!-- SIMULATION -->
    <!-- ARGUMENTS -->
    <arg name="simulation" default="true" />

    <!-- NODES and LAUNCH FILES --> 
    <include file="$(find project_base)/launch/simulation_base.launch" if="$(arg simulation)">
        </include>

    <!-- TODO: make launch for our own stack for ease of launch -->
    <!-- PERCEPTION -->
    <!-- ARGUMENTS -->
    <!-- NODES and LAUNCH FILES -->
        <!-- Start visual_detection.py node from target_tracking package -->
    <node name="visual_detection" pkg="target_tracking" type="visual_detection.py" output="screen">
        </node>    

    <!-- CONTROL -->
    <!-- ARGUMENTS -->
    
    <!-- OTHERS -->
    <!-- ARGUMENTS -->
    <arg name="rviz" default="true"/>
    <arg name="image_view" default="false"/>

    <!-- Start RViz  -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find project_base)/rviz/video_servoing.rviz"/>
    <!-- start image_view node -->
    <node if="$(arg image_view)" name="image_view" pkg="image_view" type="image_view" output="screen" args="image:=/camera/image_raw"/>
</launch>
