<launch>
    <!-- Flag to start recoding a rosbag  -->
    <arg name="gazebo_gui" default="true"/>
    <arg name="rviz" default="false"/>
    

    <!-- Initial position and heading of the vehicle (wrt Gazebo's inertial frame)  -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-34.5"/>
    <arg name="yaw" default="0.0"/>

    <arg name="use_ned_frame" default="false"/>
    <!-- argument for launching target only -->
    <arg name="target_only" default="false"/>
    
    <!-- Initialize the Gazebo world  -->
    <include file="$(find bluerov2_description)/launch/bridge.launch">
        <arg name="gui" default="$(arg gazebo_gui)"/>
    </include>

    <!-- Add the BlueROV2 vehicle to the world  -->
    <include file="$(find bluerov2_description)/launch/upload.launch">
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <!-- Start the PID controller with its default parameters for the bluerov2 vehicle  -->
    <include file="$(find bluerov2_control)/launch/rov_pid_controller.launch"> 
        <arg name="uuv_name" value="bluerov2"/> 
        <arg name="model_name" value="bluerov2"/> 
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/> 
    </include>

    <!-- Add the sphere_target vehicle to the world  -->
    <arg name="x_target" default="1.0"/>
    <arg name="y_target" default="0.0"/>

    <include file="$(find sphere_target_description)/launch/upload.launch">
        <arg name="x" default="$(arg x_target)"/>
        <arg name="y" default="$(arg y_target)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <include file="$(find sphere_target_control)/launch/rov_pid_controller.launch"> 
        <arg name="uuv_name" value="sphere_target"/> 
        <arg name="model_name" value="sphere_target"/> 
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/> 
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find project_base)/rviz/video_servoing.rviz"/>
    
</launch>
