<launch>
    <arg name="perception_on" default="true"/>
    <arg name="control_on" default="true"/>
    
    <!-- PERCEPTION -->
    <!-- ARGUMENTS -->
    <!-- NODES and LAUNCH FILES -->
    <!-- <node name="visual_detection" pkg="target_tracking" type="visual_detection.py" output="screen"> </node>     -->
    <node if="$(arg perception_on)" name="visual_detection" pkg="target_tracking" type="visual_detection.py" output="screen"> </node>    

    <!-- CONTROL -->
    <node if="$(arg control_on)" name="pose_control" pkg="position_control" type="pose_control.py" output="screen"> </node>    
    <!-- ARGUMENTS -->
    
    <!-- OTHERS -->
    <!-- ARGUMENTS -->
</launch>
