<launch>
    <!-- PERCEPTION -->
    <!-- ARGUMENTS -->
    <!-- NODES and LAUNCH FILES -->
    <node name="visual_detection" pkg="target_tracking" type="visual_detection.py" output="screen"> </node>    

    <!-- CONTROL -->
    <node name="pose_control" pkg="position_control" type="pose_control.py" output="screen"> </node>    
    <!-- ARGUMENTS -->
    
    <!-- OTHERS -->
    <!-- ARGUMENTS -->
</launch>
